Package: com.amrielsimone.oneplus2
Name: OnePlus2 LockGlyph Theme
Version: 1.0
Section: Themes
Depends: xyz.evilgoldfish.lockglyphx
Architecture: iphoneos-arm
Description: A modern look to the default theme
Author: Amriel Simone <amriel@amriel.com>
Maintainer: Amriel Simone <amriel@amriel.com>
