Package: com.amrielsimone.aroma
Name: Aroma
Version: 1.0
Section: Themes
Depends: com.anemonetheming.anemone
Architecture: iphoneos-arm
Description: Clean and simple theme. (Must have Anemone installed)
Author: Amriel Simone <amriel@amriel.com>
Maintainer: Amriel Simone <amriel@amriel.com>
