Package: com.amrielsimone.lgpack
Name: LockGlyph Theme Pack
Version: 1.0
Section: Themes
Depends: xyz.evilgoldfish.lockglyphx
Architecture: iphoneos-arm
Description: Themes for LockGlyph (All versions of IOS)
Author: Amriel Simone <amriel@amriel.com>
Maintainer: Amriel Simone <amriel@amriel.com>
