Package: com.amrielsimone.noduck
Name: NoDuck
Version: 1.2
Section: Tweaks
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Disables audio ducking (Beta)
Author: Amriel Simone <amriel@amriel.com>
Maintainer: Amriel Simone <amriel@amriel.com>
