Package: com.amrielsimone.aroma
Version: 1.0
Section: Themes
Maintainer: Amriel Simone <amriel@amriel.com>
Depends: anemone
Architecture: iphoneos-arm
Filename: .//pkgfiles/com.amrielsimone.aroma_1.0.deb
Description: Clean and simple theme.
Name: Aroma
Author: Amriel Simone <amriel@amriel.com>

