Package: com.amrielsimone.lgpack
Name: LockGlyphX Theme Pack
Version: 1.0
Section: Beta
Depends: xyz.evilgoldfish.lockglyphx
Architecture: iphoneos-arm
Description: Theme pack for LockGlyphX
Author: OnGoodVxbes
Maintainer: Amriel Simone <amriel@amriel.com>
